/*!
 * @theme JCB-Dark
 * @author Jacob Bridgeman
 */@import-theme 'JCB';:root{--theme-color:#1e64c8;--main-ft-color:#fff;--main-bg-color:#222;--head-ft-color:#fff;--head-bg-color:var(--theme-color);--foot-ft-color:#fff;--foot-bg-color:var(--theme-color);--code-ft-color:#fff;--code-bg-color:rgba(30,100,200,.1);--highlight-ft-color:#fff;--main-ft-weight:400;--head-ft-weight:bold;--foot-ft-weight:bold;--title-ft-weight:bold}