/*!
 * @theme JCB
 * @author Jacob Bridgeman
 *
 * @auto-scaling true
 * @size 16:9 1280px 720px
 * @size 4:3 960px 720px
 */

@import url("https://cdn.jsdelivr.net/gh/aaaakshat/cm-web-fonts@latest/fonts.css");

:root {
    --theme-color-default: rgb(30,100,200);

    --main-ft-color-default: rgb(255,255,255);
    --main-bg-color-default: rgb(34, 34, 34);

    --head-ft-color-default: rgb(255,255,255);
    --head-bg-color-default: var(--theme-color,var(--theme-color-default));

    --foot-ft-color-default: rgb(255,255,255);
    --foot-bg-color-default: var(--theme-color,var(--theme-color-default));

    --code-ft-color-default: rgb(255,255,255);
    --code-bg-color-default: rgba(30, 100, 200, .1);

    --highlight-ft-color-default: rgb(255, 255, 255);

    --main-ft-weight-default: 300;
    --head-ft-weight-default: bold;
    --foot-ft-weight-default: bold;
    --title-ft-weight-default: bold;
}


*{
    font-family: "Computer Modern Serif", serif !important;
    color: var(--main-ft-color,var(--main-ft-color-default));
    font-weight: var(--main-ft-weight,var(--main-ft-weight-default));
}

blockquote {
  margin-left: 5rem;
  padding-left: 1.5rem;
  border-left: .25rem solid var(--theme-color,var(--theme-color-default));
}

header, footer {
    position: absolute;
    left: 0px;
    right: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: grid;
}

header {
    font-size: 2rem;
    top: 0px;
    grid-template-columns: 1fr max-content ;
    color: var(--head-ft-color,var(--head-ft-color-default))!important;
    background-color: var(--head-bg-color,var(--head-bg-color-default));
    font-weight: var(--head-ft-weight,var(--head-ft-weight-default));
}

footer {
    bottom: 0px;
    font-size: 1.25rem;
    text-align: center;
    grid-template-areas: "a b c";
    background-color: var(--foot-bg-color,var(--foot-bg-color-default));
}

footer > .left {
    grid-area: a;
    text-align: left;
}

footer > .left img{
    height: 1rem;
    width: auto;
}

footer > .center {
    grid-area: b;
}

footer > .right {
    grid-area: c;
    text-align: right;
}

footer > * {
    color: var(--foot-ft-color,var(--foot-ft-color-default));
    text-decoration: none;
    font-weight: var(--foot-ft-weight,var(--foot-ft-weight-default));
}

h2 {
    color: var(--highlight-ft-color,var(--highlight-ft-color-default));
    text-indent: 2rem;
}

strong {
    color: var(--highlight-ft-color,var(--highlight-ft-color-default));
    font-weight: 550;
}

figure {
        display: inline-block;
        text-align: center;
  }
  
figcaption {
    font-size: 1.5rem;
  }


section {
    background-color: var(--main-bg-color,var(--main-bg-color-default));
    padding: 80px;
    font-size: 1.75rem;
}

section.titleSlide {
    padding-top: 15%;
    text-align: center;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
}

section.titleSlide .presentationTitle {
    font-size: 3rem;
    font-weight: var(--title-ft-weight,var(--title-ft-weight-default));
    margin-bottom: 2rem;
}

section.titleSlide .presentationAuthors {
    font-size: 2rem;
    font-weight: var(--title-ft-weight,var(--title-ft-weight-default));
}

section.titleSlide .presentationAuthors * {
    font-size: 2rem;
    font-weight: var(--title-ft-weight,var(--title-ft-weight-default));
}


section.titleSlide a.presentationArxiv {
    font-size: 1.8rem;
    font-weight: var(--title-ft-weight,var(--title-ft-weight-default));
}

section.questionSlide {
    padding-top: 15%;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    font-weight: bold;
}

section.questionSlide > p {
    font-size: 3rem;
    font-weight: bold;
}

section.questionSlide * {
    font-size: 1.8rem;
    font-weight: bold;
}

section.twocolumn{
    display: grid;
    grid-template-areas: "t t""l r""b b";
    align-items: center;
}

section.twocolumn > .top{
    grid-area: t;
    text-align: center;
}

section.twocolumn > .bottom{
    grid-area: b;
    text-align: center;
}

section.twocolumn > .left{
    grid-area: l;
    text-align: left;
}

section.twocolumn > .right{
    grid-area: r;
    text-align: right;
    display: table-cell;
    vertical-align: middle;
}


section.twocolumn .right > ul{
    direction: rtl;
}

section table.twocolumn {
    width: 100%;
    border-collapse: collapse;
}

section table.twocolumn > tbody > tr > th{
    transform: scale(1.25);
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

code{
    background: var(--code-bg-color,var(--code-bg-color-default));
    /* border: 1px solid white; */
    border-left: 3px solid var(--theme-color,var(--theme-color-default));
    color: var(--code-ft-color,var(--code-ft-color-default));
    page-break-inside: avoid;
    font-family: monospace;
    max-width: 90%;
    overflow: auto;
    padding: 1rem 1.5rem;
    display: block;
    word-wrap: break-word;
}


iframe {
    width: 500px;
    height: 500px;
    background-color: transparent;
    border: 0px none transparent;
    padding: 0px;
    margin: 0px;
}
