                        <ul class="nav-link navbar-brand social flex-nowrap">
                        {%- if site.email -%}
                        <li><a href="mailto:{{ site.email | encode_email }}" title="email"><i class="fas fa-envelope"></i></a></li>
                        {% endif %}
                        {%- if site.arXiv_id -%}
                        <li><a href="https://arxiv.org/a/{{ site.arXiv_id }}" title="arXiv"><i class="ai ai-arxiv"></i></a></li>
                        {% endif %}
                        {%- if site.scholar_userid -%}
                        <li><a href="https://scholar.google.com/citations?user={{ site.scholar_userid }}" title="Google Scholar"><i class="ai ai-google-scholar"></i></a></li>
                        {% endif %}
                        {%- if site.github_username -%}
                        <li><a href="https://github.com/{{ site.github_username }}" title="GitHub"><i class="fab fa-github"></i></a></li>
                        {% endif %}
                    </ul>