name: deploy

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup variables
      id: setup
      run: |
        echo "SRC_BRANCH=master" >> $GITHUB_OUTPUT
        echo "DEPLOY_BRANCH=gh-pages" >> $GITHUB_OUTPUT
        echo "NO_PUSH=" >> $GITHUB_OUTPUT

    - name: Build the site in the jekyll/builder container
      run: |
        docker run \
          -v ${{ github.workspace }}:/srv/jekyll \
          -v ${{ github.workspace }}/_site:/srv/jekyll/_site \
          jekyll/builder:latest /bin/bash -c "
            apk add --no-cache imagemagick && \
            chmod -R 777 /srv/jekyll && \
            jekyll build --future
          "


    - name: Deploy website
      run: |
        yes | bash bin/deploy --verbose \
          ${{ steps.setup.outputs.NO_PUSH }} \
          --src ${{ steps.setup.outputs.SRC_BRANCH }} \
          --deploy ${{ steps.setup.outputs.DEPLOY_BRANCH }}
